<div class="content">
  <!-- <pre> {{ this.todoListService.todoList | async | json }}</pre> -->
  <ul>
    <ng-container *ngFor="let todoItem of todoList$ | async">
      <li
        *ngIf="
          this.filter === 'all' ||
          (this.filter === 'pending' && !todoItem.finished) ||
          (this.filter === 'finished' && todoItem.finished)
        "
      >
        <div (dblclick)="this.editMode = todoItem.id">
          <span [ngClass]="todoItem.finished ? 'finished' : ''">{{
            todoItem.text
          }}</span>

          <input
            #todoInput
            *ngIf="editMode === todoItem.id; else displayButtons"
            type="text"
            placeholder="Edit : {{ todoItem.text }}"
            (keyup.enter)="editTodo(todoItem.id, todoInput.value)"
          />
          <ng-template #displayButtons>
            <app-todo-list-button [todoItem]="todoItem"> </app-todo-list-button>
          </ng-template>
        </div>
      </li>
    </ng-container>
  </ul>

  <app-todo-list-filter (filterTodos)="filterTodos($event)">
  </app-todo-list-filter>

  <button type="text" (click)="echoHello()">Echo Hello</button>
</div>
