<div class="filterDiv">
  <h1>Todos filters:</h1>
  <button type="text" (click)="filterTodos.emit('all')">All</button>
  <button type="text" (click)="filterTodos.emit('pending')">Pending</button>
  <button type="text" (click)="filterTodos.emit('finished')">Finished</button>
</div>
