.content {
  display: flex;
  text-align: center;
  border: black solid 1px;
  padding-bottom: 1%;
  padding-top: 1%;
  margin-top: 2%;
  margin-left: 20%;
  margin-right: 20%;
}
h1{
  margin-top: 5%;
}

.childContent {
  justify-content: center;
  margin:auto;
}