<div class="content">
  <div class="childContent">
    <!-- <pre> {{ todoList | json }}</pre> -->
    <h1>My TodoList app</h1>

    <!-- Input to add new todos -->
    <!-- à gauche la méthode enfant appelée
       et à droite celle du parent $event is required-->
    <app-todo-input> </app-todo-input>

    <!-- Liste the todos -->
    <app-todo-list> </app-todo-list>
  </div>
</div>
